<div class="timeline-content-card {{ cardnum }}">
    <div class="header">
        <img src="" title="{{ user }}'s profile picture">
        <div class="name">
            <h3 class="displayname"></h3>
            <span class="handle"></span>
        </div>
    </div>
    <div class="post-content">
        <div id="actual">
            <div class="post-type">
            </div>
            <hr style="width: 100%; margin: 0; padding: 0; opacity: 0.6;">
            <div class="attached-text">
                <span>
                </span>
            </div>
            <span class="attached-media">
            </span>
        </div>
        <div class="post-details">
            <span class="post-details" id="timestamp">20:34 EST, Tuesday</span>
            <span class="post-details" id="location">Greater Beijing Area, China</span>
        </div>
    </div>
</div>
</div>